body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #cba0a0;
}

header {
    background-color: #277290;
    color: #248f84;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #add4e4;
    text-decoration: none;
}

.section {
    padding: 50px 0;
    text-align: center;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-top: 20px;
}

.project {
    margin: 20px 0;
}

footer {
    background-color: #cda9c4;
    color: #473c43;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}